In [1]:

from __future__ import division, print_function
__author__ = 'CHENG MA'
import os
import numpy as np
from numpy.random import randn
import pylab as pl

from pandas import Series, DataFrame
import pandas
import pandas as pd

DFdata = os.getenv("DFDATA")
print (DFdata)

/gws/open/NYCOpenData/nycopendata/data

In [2]:
CSV2 = pd.read_csv(DFdata + "/h9gi-nx95/1428430582/h9gi-nx95")
CSV2.head(3)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/04/2015,9:25,MANHATTAN,10001.0,40.750788,-74.005630,"(40.7507879, -74.0056304)",WEST 26 STREET,11 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3197298,PICK-UP TRUCK,LIVERY VEHICLE,NaN,NaN,NaN
1,04/04/2015,21:15,QUEENS,11357.0,40.781291,-73.814200,"(40.7812915, -73.8141997)",20 AVENUE,150 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3198105,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
2,04/04/2015,16:52,QUEENS,11385.0,40.702595,-73.855293,"(40.7025952, -73.8552926)",WOODHAVEN BOULEVARD,MYRTLE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3197589,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN

In [3]:
CSV3 = pd.DataFrame({"TIME" : list(CSV2.iloc[:,1]),"Zip Code":list(CSV2.iloc[:,3])})
CSV3.head(3)

    TIME  Zip Code
0   9:25   10001.0
1  21:15   11357.0
2  16:52   11385.0

In [ ]:
#everytime i run this section, notebook turn down....
from datetime import datetime
modified_time = []
for i in range(len(list(CSV3["TIME"]))):
    modified_time.append(datetime.strptime(list(CSV3["TIME"])[i],'%H:%M'))
print (modified_time)

In [ ]:
import matplotlib.pyplot as plt
plt.title('Reducted Dataframe2')
mpl.rcParams['xtick.labelsize'] = 10
mpl.rcParams['ytick.labelsize'] = 10
plt.ylabel('TIME')
plt.xlabel('ZIPCODE')
plt.scatter(list["modified_time"],CSV3["Zip Code"])
plt.legend(loc="upper right")
plt.show()