# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2

In [1]:
SQL_SOURCE = 'https://macheng2017.carto.com/api/v2/sql?q='


# extra credit: make the function python 2 and 3 compatible

try:
    from urllib2 import HTTPError
    from urllib2 import urlopen
    from urllib import urlencode
    from StringIO import StringIO as StringIO

except ImportError:
    from urllib.error import HTTPError
    from urllib.request import urlopen, Request
    from urllib.parse import urlencode
    from io import BytesIO as StringIO
    
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urlencode({'format': format, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
    except HTTPError as e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

## Task 1 - Familiarize with SQL Clauses

In [2]:
#Top 10 records
test1 = '''
SELECT *FROM citibike
where tripduration<10800
ORDER BY  start_station_id, tripduration 
LIMIT 10
'''

In [4]:
pd.read_csv(StringIO(queryCartoDB(test1)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,8998,NaN,NaN,2,1980,19039,72,72,107,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-03 10:12:00+00,2015-02-03 10:10:00+00
1,40759,NaN,NaN,2,1959,18131,72,72,189,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:43:00+00,2015-02-07 10:40:00+00
2,40757,NaN,NaN,1,1995,19729,72,72,229,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:44:00+00,2015-02-07 10:40:00+00
3,21948,NaN,NaN,1,1970,16879,478,72,248,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-05 06:24:00+00,2015-02-05 06:19:00+00
4,43099,NaN,NaN,1,1983,15277,515,72,252,Subscriber,W 43 St & 10 Ave,W 52 St & 11 Ave,-73.994618,40.760094,-73.993929,40.767272,2015-02-07 15:47:00+00,2015-02-07 15:43:00+00
5,32566,NaN,NaN,1,1971,18492,478,72,261,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-06 09:02:00+00,2015-02-06 08:58:00+00
6,15971,NaN,NaN,1,1961,19216,478,72,276,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-04 12:51:00+00,2015-02-04 12:46:00+00
7,41355,NaN,NaN,1,1974,21588,447,72,283,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-07 12:15:00+00,2015-02-07 12:10:00+00
8,42074,NaN,NaN,1,1978,19124,514,72,288,Subscriber,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-07 13:54:00+00,2015-02-07 13:50:00+00
9,2282,NaN,NaN,1,1974,18174,447,72,301,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-01 13:13:00+00,2015-02-01 13:08:00+00

In [5]:
# Last 10 records
test2 = '''
SELECT *FROM citibike
where tripduration<10800

ORDER BY start_station_id desc, tripduration desc
LIMIT 10
'''

In [6]:
pd.read_csv(StringIO(queryCartoDB(test2)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,1506,NaN,NaN,0,NaN,21202,499,3002,7225,Customer,Broadway & W 60 St,South End Ave & Liberty St,-73.981918,40.769155,-74.015756,40.711512,2015-02-01 13:47:00+00,2015-02-01 11:46:00+00
1,8831,NaN,NaN,1,1958.0,15552,510,3002,2139,Subscriber,W 51 St & 6 Ave,South End Ave & Liberty St,-73.980420,40.760660,-74.015756,40.711512,2015-02-03 10:09:00+00,2015-02-03 09:33:00+00
2,23529,NaN,NaN,1,1985.0,21473,359,3002,2131,Subscriber,E 47 St & Park Ave,South End Ave & Liberty St,-73.974987,40.755103,-74.015756,40.711512,2015-02-05 09:17:00+00,2015-02-05 08:42:00+00
3,10173,NaN,NaN,1,1969.0,15309,318,3002,1977,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-03 16:37:00+00,2015-02-03 16:04:00+00
4,27203,NaN,NaN,1,1969.0,20069,318,3002,1977,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-05 16:44:00+00,2015-02-05 16:11:00+00
5,6781,NaN,NaN,1,1959.0,19665,494,3002,1976,Subscriber,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-02 09:53:00+00,2015-02-02 09:21:00+00
6,44703,NaN,NaN,2,1964.0,15443,410,3002,1920,Subscriber,Suffolk St & Stanton St,South End Ave & Liberty St,-73.985180,40.720664,-74.015756,40.711512,2015-02-07 19:08:00+00,2015-02-07 18:36:00+00
7,11587,NaN,NaN,1,1996.0,19133,279,3002,1908,Subscriber,Peck Slip & Front St,South End Ave & Liberty St,-74.001670,40.707873,-74.015756,40.711512,2015-02-03 19:26:00+00,2015-02-03 18:54:00+00
8,1228,NaN,NaN,0,NaN,17849,525,3002,1900,Customer,W 34 St & 11 Ave,South End Ave & Liberty St,-74.002116,40.755942,-74.015756,40.711512,2015-02-01 11:45:00+00,2015-02-01 11:14:00+00
9,17590,NaN,NaN,1,1969.0,20246,318,3002,1830,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-04 17:04:00+00,2015-02-04 16:33:00+00

In [8]:
#List all unique start_station_id values
list_id ='''
SELECT start_station_id FROM citibike 
GROUP BY start_station_id
ORDER BY start_station_id
'''
stations = pd.read_csv(StringIO(queryCartoDB(list_id)), sep=',')
stations

     start_station_id  Unnamed: 1
0                  72         NaN
1                  79         NaN
2                  82         NaN
3                  83         NaN
4                 116         NaN
5                 119         NaN
6                 120         NaN
7                 127         NaN
8                 128         NaN
9                 137         NaN
10                143         NaN
11                144         NaN
12                146         NaN
13                147         NaN
14                150         NaN
15                151         NaN
16                152         NaN
17                153         NaN
18                157         NaN
19                160         NaN
20                161         NaN
21                164         NaN
22                167         NaN
23                168         NaN
24                173         NaN
25                174         NaN
26                195         NaN
27                212         NaN
28                216         NaN
29                217         NaN
..                ...         ...
297               525         NaN
298               526         NaN
299               527         NaN
300               528         NaN
301               529         NaN
302               530         NaN
303               531         NaN
304               532         NaN
305               533         NaN
306               534         NaN
307               537         NaN
308               538         NaN
309               539         NaN
310               545         NaN
311               546         NaN
312              2000         NaN
313              2001         NaN
314              2002         NaN
315              2004         NaN
316              2005         NaN
317              2006         NaN
318              2008         NaN
319              2009         NaN
320              2010         NaN
321              2012         NaN
322              2017         NaN
323              2021         NaN
324              2022         NaN
325              2023         NaN
326              3002         NaN

[327 rows x 2 columns]

In [9]:
#Aggregation functions: 
#Count the number of trips 
test3 = '''
SELECT COUNT(*) FROM citibike
WHERE tripduration<10800
'''

pd.read_csv(StringIO(queryCartoDB(test3)), sep=',')

   count  Unnamed: 1
0  46151         NaN

In [10]:
#Find the average/min/max trip duration
test4 = '''
SELECT AVG(tripduration),min(tripduration),max(tripduration) FROM citibike
WHERE tripduration<10800
'''
pd.read_csv(StringIO(queryCartoDB(test4)), sep=',')

          avg  min    max
0  652.028342   60  10757

## Task 2

In [11]:
#Selecting trips started on Feb-02-2015 only 
test5 = '''
SELECT * FROM citibike
where starttime >= '2015-02-02 00:00'
and starttime < '2015-02-03 00:00'
'''
pd.read_csv(StringIO(queryCartoDB(test5)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,6442,NaN,NaN,1,1992.0,20684,489,442,199,Subscriber,10 Ave & W 28 St,W 27 St & 7 Ave,-74.001768,40.750664,-73.993915,40.746647,2015-02-02 00:05:00+00,2015-02-02 00:02:00+00
1,6443,NaN,NaN,2,1964.0,16094,349,326,418,Subscriber,Rivington St & Ridge St,E 11 St & 1 Ave,-73.983299,40.718502,-73.984267,40.729538,2015-02-02 00:10:00+00,2015-02-02 00:03:00+00
2,6444,NaN,NaN,1,1974.0,17362,415,279,276,Subscriber,Pearl St & Hanover Square,Peck Slip & Front St,-74.009260,40.704718,-74.001670,40.707873,2015-02-02 00:09:00+00,2015-02-02 00:04:00+00
3,6445,NaN,NaN,2,1992.0,15475,237,496,420,Subscriber,E 11 St & 2 Ave,E 16 St & 5 Ave,-73.986724,40.730473,-73.992390,40.737262,2015-02-02 00:13:00+00,2015-02-02 00:06:00+00
4,6446,NaN,NaN,1,1968.0,16272,450,477,304,Subscriber,W 49 St & 8 Ave,W 41 St & 8 Ave,-73.987882,40.762272,-73.990026,40.756405,2015-02-02 00:12:00+00,2015-02-02 00:07:00+00
5,6447,NaN,NaN,1,1979.0,16370,391,467,622,Subscriber,Clark St & Henry St,Dean St & 4 Ave,-73.993446,40.697601,-73.978951,40.683125,2015-02-02 00:18:00+00,2015-02-02 00:08:00+00
6,6448,NaN,NaN,1,1963.0,19437,482,434,371,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 00:15:00+00,2015-02-02 00:09:00+00
7,6449,NaN,NaN,1,1982.0,21211,2008,330,477,Subscriber,Little West St & 1 Pl,Reade St & Broadway,-74.016777,40.705693,-74.005628,40.714505,2015-02-02 00:19:00+00,2015-02-02 00:11:00+00
8,6450,NaN,NaN,2,1978.0,21417,423,521,743,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-02 00:25:00+00,2015-02-02 00:12:00+00
9,6451,NaN,NaN,1,1956.0,15722,453,504,599,Subscriber,W 22 St & 8 Ave,1 Ave & E 15 St,-73.999154,40.744751,-73.981656,40.732219,2015-02-02 00:22:00+00,2015-02-02 00:12:00+00
10,6452,NaN,NaN,1,1962.0,18972,236,285,345,Subscriber,St Marks Pl & 2 Ave,Broadway & E 14 St,-73.987140,40.728419,-73.990741,40.734546,2015-02-02 00:18:00+00,2015-02-02 00:12:00+00
11,6453,NaN,NaN,1,1980.0,19628,476,301,721,Subscriber,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-02 00:25:00+00,2015-02-02 00:13:00+00
12,6454,NaN,NaN,1,1978.0,15169,376,279,182,Subscriber,John St & William St,Peck Slip & Front St,-74.007222,40.708621,-74.001670,40.707873,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
13,6455,NaN,NaN,1,1997.0,17533,411,342,154,Subscriber,E 6 St & Avenue D,Columbia St & Rivington St,-73.976687,40.722281,-73.980166,40.717400,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
14,6456,NaN,NaN,1,1983.0,19761,491,470,435,Subscriber,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-02 00:21:00+00,2015-02-02 00:14:00+00
15,6457,NaN,NaN,1,1993.0,17267,393,236,310,Subscriber,E 5 St & Avenue C,St Marks Pl & 2 Ave,-73.979955,40.722992,-73.987140,40.728419,2015-02-02 00:20:00+00,2015-02-02 00:15:00+00
16,6458,NaN,NaN,1,1964.0,18691,470,470,1274,Subscriber,W 20 St & 8 Ave,W 20 St & 8 Ave,-74.000040,40.743453,-74.000040,40.743453,2015-02-02 00:37:00+00,2015-02-02 00:16:00+00
17,6459,NaN,NaN,1,1977.0,17106,174,485,642,Subscriber,E 25 St & 1 Ave,W 37 St & 5 Ave,-73.977387,40.738177,-73.983390,40.750380,2015-02-02 00:29:00+00,2015-02-02 00:18:00+00
18,6460,NaN,NaN,1,1973.0,20009,483,345,256,Subscriber,E 12 St & 3 Ave,W 13 St & 6 Ave,-73.988900,40.732233,-73.997044,40.736494,2015-02-02 00:22:00+00,2015-02-02 00:18:00+00
19,6461,NaN,NaN,1,1979.0,18777,442,489,334,Subscriber,W 27 St & 7 Ave,10 Ave & W 28 St,-73.993915,40.746647,-74.001768,40.750664,2015-02-02 00:25:00+00,2015-02-02 00:19:00+00
20,6462,NaN,NaN,1,1989.0,15357,174,507,90,Subscriber,E 25 St & 1 Ave,E 25 St & 2 Ave,-73.977387,40.738177,-73.979738,40.739126,2015-02-02 00:20:00+00,2015-02-02 00:19:00+00
21,6463,NaN,NaN,1,1983.0,18487,405,380,203,Subscriber,Washington St & Gansevoort St,W 4 St & 7 Ave S,-74.008119,40.739323,-74.002939,40.734011,2015-02-02 00:23:00+00,2015-02-02 00:20:00+00
22,6464,NaN,NaN,1,1981.0,20863,439,334,649,Subscriber,E 4 St & 2 Ave,W 20 St & 7 Ave,-73.989780,40.726281,-73.997262,40.742388,2015-02-02 00:32:00+00,2015-02-02 00:22:00+00
23,6465,NaN,NaN,1,1970.0,16539,448,508,319,Subscriber,W 37 St & 10 Ave,W 46 St & 11 Ave,-73.997901,40.756604,-73.996674,40.763414,2015-02-02 00:29:00+00,2015-02-02 00:23:00+00
24,6466,NaN,NaN,1,1961.0,18737,301,428,154,Subscriber,E 2 St & Avenue B,E 3 St & 1 Ave,-73.983688,40.722174,-73.987834,40.724677,2015-02-02 00:30:00+00,2015-02-02 00:27:00+00
25,6467,NaN,NaN,2,1980.0,17797,195,331,550,Subscriber,Liberty St & Broadway,Pike St & Monroe St,-74.010434,40.709056,-73.991930,40.711731,2015-02-02 00:37:00+00,2015-02-02 00:28:00+00
26,6468,NaN,NaN,1,1990.0,20638,478,529,268,Subscriber,11 Ave & W 41 St,W 42 St & 8 Ave,-73.998842,40.760301,-73.990985,40.757570,2015-02-02 00:34:00+00,2015-02-02 00:29:00+00
27,6469,NaN,NaN,1,1989.0,17636,366,421,153,Subscriber,Clinton Ave & Myrtle Ave,Clermont Ave & Park Ave,-73.968896,40.693261,-73.971297,40.695734,2015-02-02 00:31:00+00,2015-02-02 00:29:00+00
28,6470,NaN,NaN,1,1982.0,18472,494,284,309,Subscriber,W 26 St & 8 Ave,Greenwich Ave & 8 Ave,-73.997236,40.747348,-74.002638,40.739017,2015-02-02 00:36:00+00,2015-02-02 00:31:00+00
29,6471,NaN,NaN,1,1968.0,17456,252,383,138,Subscriber,MacDougal St & Washington Sq,Greenwich Ave & Charles St,-73.998522,40.732264,-74.000271,40.735238,2015-02-02 00:35:00+00,2015-02-02 00:33:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,7871,NaN,NaN,1,1985.0,20572,380,312,722,Subscriber,W 4 St & 7 Ave S,Allen St & E Houston St,-74.002939,40.734011,-73.989111,40.722055,2015-02-02 23:20:00+00,2015-02-02 23:08:00+00
1430,7872,NaN,NaN,1,1981.0,20338,491,486,274,Subscriber,E 24 St & Park Ave S,Broadway & W 29 St,-73.986022,40.740964,-73.988557,40.746201,2015-02-02 23:12:00+00,2015-02-02 23:08:00+00
1431,7873,NaN,NaN,1,1978.0,15826,515,352,951,Subscriber,W 43 St & 10 Ave,W 56 St & 6 Ave,-73.994618,40.760094,-73.977225,40.763406,2015-02-02 23:27:00+00,2015-02-02 23:11:00+00
1432,7874,NaN,NaN,1,1990.0,18325,521,489,276,Subscriber,8 Ave & W 31 St,10 Ave & W 28 St,-73.994811,40.750450,-74.001768,40.750664,2015-02-02 23:20:00+00,2015-02-02 23:16:00+00
1433,7875,NaN,NaN,1,1977.0,16654,434,494,426,Subscriber,9 Ave & W 18 St,W 26 St & 8 Ave,-74.003664,40.743174,-73.997236,40.747348,2015-02-02 23:24:00+00,2015-02-02 23:17:00+00
1434,7876,NaN,NaN,1,1966.0,20902,229,402,578,Subscriber,Great Jones St,Broadway & E 22 St,-73.993790,40.727434,-73.989551,40.740343,2015-02-02 23:28:00+00,2015-02-02 23:19:00+00
1435,7877,NaN,NaN,1,1954.0,20796,2017,164,2621,Subscriber,E 43 St & 2 Ave,E 47 St & 2 Ave,-73.971214,40.750224,-73.970325,40.753231,2015-02-03 00:06:00+00,2015-02-02 23:22:00+00
1436,7878,NaN,NaN,1,1989.0,20160,449,498,621,Subscriber,W 52 St & 9 Ave,Broadway & W 32 St,-73.987895,40.764618,-73.988084,40.748549,2015-02-02 23:32:00+00,2015-02-02 23:22:00+00
1437,7879,NaN,NaN,1,1974.0,17392,477,521,323,Subscriber,W 41 St & 8 Ave,8 Ave & W 31 St,-73.990026,40.756405,-73.994811,40.750450,2015-02-02 23:29:00+00,2015-02-02 23:23:00+00
1438,7880,NaN,NaN,1,1963.0,17263,482,434,393,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 23:31:00+00,2015-02-02 23:24:00+00
1439,7881,NaN,NaN,1,1955.0,19858,497,161,597,Subscriber,E 17 St & Broadway,LaGuardia Pl & W 3 St,-73.990093,40.737050,-73.998102,40.729170,2015-02-02 23:35:00+00,2015-02-02 23:25:00+00
1440,7882,NaN,NaN,1,1979.0,20319,462,494,244,Subscriber,W 22 St & 10 Ave,W 26 St & 8 Ave,-74.004519,40.746920,-73.997236,40.747348,2015-02-02 23:30:00+00,2015-02-02 23:25:00+00
1441,7883,NaN,NaN,1,1977.0,21600,127,306,1023,Subscriber,Barrow St & Hudson St,Cliff St & Fulton St,-74.006744,40.731724,-74.005301,40.708235,2015-02-02 23:43:00+00,2015-02-02 23:26:00+00
1442,7884,NaN,NaN,1,1986.0,18791,473,349,419,Subscriber,Rivington St & Chrystie St,Rivington St & Ridge St,-73.991925,40.721101,-73.983299,40.718502,2015-02-02 23:38:00+00,2015-02-02 23:31:00+00
1443,7885,NaN,NaN,1,1966.0,17730,358,450,1429,Subscriber,Christopher St & Greenwich St,W 49 St & 8 Ave,-74.007114,40.732916,-73.987882,40.762272,2015-02-02 23:55:00+00,2015-02-02 23:32:00+00
1444,7886,NaN,NaN,1,1980.0,18147,477,519,676,Subscriber,W 41 St & 8 Ave,Pershing Square North,-73.990026,40.756405,-73.977706,40.751873,2015-02-02 23:44:00+00,2015-02-02 23:32:00+00
1445,7887,NaN,NaN,1,1959.0,20249,489,546,879,Subscriber,10 Ave & W 28 St,E 30 St & Park Ave S,-74.001768,40.750664,-73.983035,40.744449,2015-02-02 23:48:00+00,2015-02-02 23:33:00+00
1446,7888,NaN,NaN,1,1988.0,18078,432,336,593,Subscriber,E 7 St & Avenue A,Sullivan St & Washington Sq,-73.983799,40.726218,-73.999061,40.730477,2015-02-02 23:45:00+00,2015-02-02 23:35:00+00
1447,7889,NaN,NaN,1,1983.0,16808,164,529,839,Subscriber,E 47 St & 2 Ave,W 42 St & 8 Ave,-73.970325,40.753231,-73.990985,40.757570,2015-02-02 23:50:00+00,2015-02-02 23:36:00+00
1448,7890,NaN,NaN,1,1986.0,21355,368,402,560,Subscriber,Carmine St & 6 Ave,Broadway & E 22 St,-74.002150,40.730386,-73.989551,40.740343,2015-02-02 23:46:00+00,2015-02-02 23:37:00+00
1449,7891,NaN,NaN,1,1994.0,15359,511,504,165,Subscriber,E 14 St & Avenue B,1 Ave & E 15 St,-73.977724,40.729387,-73.981656,40.732219,2015-02-02 23:40:00+00,2015-02-02 23:37:00+00
1450,7892,NaN,NaN,2,1982.0,18250,489,505,813,Subscriber,10 Ave & W 28 St,6 Ave & W 33 St,-74.001768,40.750664,-73.988484,40.749013,2015-02-02 23:56:00+00,2015-02-02 23:42:00+00
1451,7893,NaN,NaN,1,1987.0,16969,507,509,764,Subscriber,E 25 St & 2 Ave,9 Ave & W 22 St,-73.979738,40.739126,-74.001971,40.745497,2015-02-02 23:55:00+00,2015-02-02 23:42:00+00
1452,7894,NaN,NaN,1,1979.0,18825,397,496,2111,Subscriber,Fulton St & Clermont Ave,E 16 St & 5 Ave,-73.969223,40.684157,-73.992390,40.737262,2015-02-03 00:18:00+00,2015-02-02 23:43:00+00
1453,7895,NaN,NaN,1,1983.0,19000,439,280,518,Subscriber,E 4 St & 2 Ave,E 10 St & 5 Ave,-73.989780,40.726281,-73.995101,40.733320,2015-02-02 23:52:00+00,2015-02-02 23:43:00+00
1454,7896,NaN,NaN,1,1977.0,20723,440,484,371,Subscriber,E 45 St & 3 Ave,W 44 St & 5 Ave,-73.972826,40.752554,-73.980144,40.755003,2015-02-02 23:52:00+00,2015-02-02 23:45:00+00
1455,7897,NaN,NaN,1,1988.0,16528,417,224,188,Subscriber,Barclay St & Church St,Spruce St & Nassau St,-74.010202,40.712912,-74.005524,40.711464,2015-02-02 23:50:00+00,2015-02-02 23:47:00+00
1456,7898,NaN,NaN,1,1988.0,16541,394,345,689,Subscriber,E 9 St & Avenue C,W 13 St & 6 Ave,-73.977688,40.725213,-73.997044,40.736494,2015-02-03 00:02:00+00,2015-02-02 23:50:00+00
1457,7899,NaN,NaN,1,1961.0,14878,537,453,634,Subscriber,Lexington Ave & E 24 St,W 22 St & 8 Ave,-73.984092,40.740259,-73.999154,40.744751,2015-02-03 00:05:00+00,2015-02-02 23:55:00+00
1458,7900,NaN,NaN,2,1976.0,16326,302,285,733,Subscriber,Avenue D & E 3 St,Broadway & E 14 St,-73.977932,40.720828,-73.990741,40.734546,2015-02-03 00:10:00+00,2015-02-02 23:58:00+00

In [12]:
#Selecting trips started on the weekends，what are average trip duration during weekends? 
test6 ='''
select * from citibike
where EXTRACT(DOW FROM starttime) NOT in (1,5)
order by starttime
'''

pd.read_csv(StringIO(queryCartoDB(test6)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,1,NaN,NaN,2,1978.0,17131,423,521,801,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
1,2,NaN,NaN,1,1993.0,21289,504,497,379,Subscriber,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
2,4,NaN,NaN,2,1985.0,21044,505,2004,818,Subscriber,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
3,5,NaN,NaN,1,1957.0,19868,83,323,544,Subscriber,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
4,3,NaN,NaN,2,1969.0,18903,127,281,2474,Subscriber,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
5,6,NaN,NaN,1,1979.0,15854,2002,373,717,Subscriber,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
6,9,NaN,NaN,2,1985.0,21183,2012,335,759,Subscriber,E 27 St & 1 Ave,Washington Pl & Broadway,-73.976806,40.739445,-73.994046,40.729039,2015-02-01 00:17:00+00,2015-02-01 00:04:00+00
7,7,NaN,NaN,1,1983.0,15173,504,352,1306,Subscriber,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00
8,8,NaN,NaN,1,1955.0,17862,116,439,913,Subscriber,W 17 St & 8 Ave,E 4 St & 2 Ave,-74.001497,40.741776,-73.989780,40.726281,2015-02-01 00:19:00+00,2015-02-01 00:04:00+00
9,10,NaN,NaN,1,1982.0,14843,444,284,585,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
10,11,NaN,NaN,2,1988.0,16936,444,284,581,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
11,12,NaN,NaN,2,1991.0,21507,472,498,204,Subscriber,E 32 St & Park Ave,Broadway & W 32 St,-73.981948,40.745712,-73.988084,40.748549,2015-02-01 00:08:00+00,2015-02-01 00:05:00+00
12,13,NaN,NaN,2,1982.0,17456,307,368,1169,Subscriber,Canal St & Rutgers St,Carmine St & 6 Ave,-73.989900,40.714275,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:07:00+00
13,14,NaN,NaN,2,1990.0,14679,2012,326,419,Subscriber,E 27 St & 1 Ave,E 11 St & 1 Ave,-73.976806,40.739445,-73.984267,40.729538,2015-02-01 00:14:00+00,2015-02-01 00:07:00+00
14,15,NaN,NaN,1,1977.0,18978,212,285,527,Subscriber,W 16 St & The High Line,Broadway & E 14 St,-74.006818,40.743349,-73.990741,40.734546,2015-02-01 00:17:00+00,2015-02-01 00:09:00+00
15,16,NaN,NaN,1,1968.0,16496,488,368,1013,Subscriber,W 39 St & 9 Ave,Carmine St & 6 Ave,-73.993722,40.756458,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:10:00+00
16,17,NaN,NaN,1,1990.0,17107,331,394,587,Subscriber,Pike St & Monroe St,E 9 St & Avenue C,-73.991930,40.711731,-73.977688,40.725213,2015-02-01 00:23:00+00,2015-02-01 00:13:00+00
17,18,NaN,NaN,1,1987.0,16984,507,326,525,Subscriber,E 25 St & 2 Ave,E 11 St & 1 Ave,-73.979738,40.739126,-73.984267,40.729538,2015-02-01 00:22:00+00,2015-02-01 00:13:00+00
18,19,NaN,NaN,1,1980.0,15997,305,493,670,Subscriber,E 58 St & 3 Ave,W 45 St & 6 Ave,-73.967245,40.760958,-73.982912,40.756800,2015-02-01 00:26:00+00,2015-02-01 00:14:00+00
19,20,NaN,NaN,1,1960.0,21516,223,445,711,Subscriber,W 13 St & 7 Ave,E 10 St & Avenue A,-73.999947,40.737815,-73.981420,40.727408,2015-02-01 00:27:00+00,2015-02-01 00:15:00+00
20,25,NaN,NaN,1,1981.0,15947,473,439,276,Subscriber,Rivington St & Chrystie St,E 4 St & 2 Ave,-73.991925,40.721101,-73.989780,40.726281,2015-02-01 00:21:00+00,2015-02-01 00:16:00+00
21,22,NaN,NaN,1,1987.0,18727,477,228,683,Subscriber,W 41 St & 8 Ave,E 48 St & 3 Ave,-73.990026,40.756405,-73.971879,40.754601,2015-02-01 00:27:00+00,2015-02-01 00:16:00+00
22,23,NaN,NaN,1,1969.0,14982,488,513,522,Subscriber,W 39 St & 9 Ave,W 56 St & 10 Ave,-73.993722,40.756458,-73.988639,40.768254,2015-02-01 00:24:00+00,2015-02-01 00:16:00+00
23,24,NaN,NaN,1,1957.0,16391,518,507,389,Subscriber,E 39 St & 2 Ave,E 25 St & 2 Ave,-73.973442,40.747804,-73.979738,40.739126,2015-02-01 00:23:00+00,2015-02-01 00:16:00+00
24,21,NaN,NaN,1,1986.0,15815,457,428,1559,Subscriber,Broadway & W 58 St,E 3 St & 1 Ave,-73.981693,40.766953,-73.987834,40.724677,2015-02-01 00:42:00+00,2015-02-01 00:16:00+00
25,26,NaN,NaN,1,1993.0,16917,531,128,907,Subscriber,Forsyth St & Broome St,MacDougal St & Prince St,-73.992663,40.718939,-74.002971,40.727103,2015-02-01 00:32:00+00,2015-02-01 00:17:00+00
26,27,NaN,NaN,1,1975.0,15924,528,490,946,Subscriber,2 Ave & E 31 St,8 Ave & W 33 St,-73.977061,40.742909,-73.993934,40.751551,2015-02-01 00:33:00+00,2015-02-01 00:18:00+00
27,28,NaN,NaN,1,1973.0,21321,502,350,144,Subscriber,Henry St & Grand St,Clinton St & Grand St,-73.981346,40.714215,-73.987030,40.715595,2015-02-01 00:21:00+00,2015-02-01 00:18:00+00
28,29,NaN,NaN,2,1973.0,16861,401,250,257,Subscriber,Allen St & Rivington St,Lafayette St & Jersey St,-73.989978,40.720196,-73.995653,40.724561,2015-02-01 00:23:00+00,2015-02-01 00:19:00+00
29,30,NaN,NaN,1,1977.0,21289,411,504,602,Subscriber,E 6 St & Avenue D,1 Ave & E 15 St,-73.976687,40.722281,-73.981656,40.732219,2015-02-01 00:30:00+00,2015-02-01 00:20:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36136,46172,NaN,NaN,1,1995.0,16931,504,361,647,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:51:00+00
36137,46173,NaN,NaN,1,1987.0,17202,401,152,563,Subscriber,Allen St & Rivington St,Warren St & Church St,-73.989978,40.720196,-74.009106,40.714740,2015-02-08 00:00:00+00,2015-02-07 23:51:00+00
36138,46174,NaN,NaN,2,1989.0,20314,439,483,470,Subscriber,E 4 St & 2 Ave,E 12 St & 3 Ave,-73.989780,40.726281,-73.988900,40.732233,2015-02-07 23:59:00+00,2015-02-07 23:51:00+00
36139,46171,NaN,NaN,1,1988.0,15733,435,335,812,Subscriber,W 21 St & 6 Ave,Washington Pl & Broadway,-73.994156,40.741740,-73.994046,40.729039,2015-02-08 00:05:00+00,2015-02-07 23:51:00+00
36140,46175,NaN,NaN,1,1989.0,21531,395,467,299,Subscriber,Bond St & Schermerhorn St,Dean St & 4 Ave,-73.984106,40.688070,-73.978951,40.683125,2015-02-07 23:56:00+00,2015-02-07 23:51:00+00
36141,46176,NaN,NaN,1,1968.0,21491,504,361,629,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:52:00+00
36142,46177,NaN,NaN,1,1990.0,15367,380,402,499,Subscriber,W 4 St & 7 Ave S,Broadway & E 22 St,-74.002939,40.734011,-73.989551,40.740343,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
36143,46178,NaN,NaN,2,1973.0,18978,368,369,474,Subscriber,Carmine St & 6 Ave,Washington Pl & 6 Ave,-74.002150,40.730386,-74.000264,40.732241,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
36144,46179,NaN,NaN,1,1980.0,19507,504,476,345,Subscriber,1 Ave & E 15 St,E 31 St & 3 Ave,-73.981656,40.732219,-73.979661,40.743943,2015-02-07 23:58:00+00,2015-02-07 23:52:00+00
36145,46180,NaN,NaN,1,1980.0,16936,160,499,829,Subscriber,E 37 St & Lexington Ave,Broadway & W 60 St,-73.978311,40.748238,-73.981918,40.769155,2015-02-08 00:07:00+00,2015-02-07 23:53:00+00
36146,46181,NaN,NaN,1,1982.0,18689,531,368,776,Subscriber,Forsyth St & Broome St,Carmine St & 6 Ave,-73.992663,40.718939,-74.002150,40.730386,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
36147,46182,NaN,NaN,1,1972.0,15781,478,520,697,Subscriber,11 Ave & W 41 St,W 52 St & 5 Ave,-73.998842,40.760301,-73.976485,40.759923,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
36148,46186,NaN,NaN,1,1973.0,21609,488,457,826,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
36149,46183,NaN,NaN,1,1988.0,15081,471,467,1703,Subscriber,Grand St & Havemeyer St,Dean St & 4 Ave,-73.956981,40.712868,-73.978951,40.683125,2015-02-08 00:23:00+00,2015-02-07 23:54:00+00
36150,46184,NaN,NaN,1,1983.0,21672,247,479,922,Subscriber,Perry St & Bleecker St,9 Ave & W 45 St,-74.004831,40.735354,-73.991255,40.760193,2015-02-08 00:10:00+00,2015-02-07 23:54:00+00
36151,46185,NaN,NaN,1,1970.0,16336,488,457,849,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
36152,46187,NaN,NaN,1,1964.0,19470,3002,328,473,Subscriber,South End Ave & Liberty St,Watts St & Greenwich St,-74.015756,40.711512,-74.009660,40.724055,2015-02-08 00:02:00+00,2015-02-07 23:54:00+00
36153,46188,NaN,NaN,1,1960.0,18167,450,510,332,Subscriber,W 49 St & 8 Ave,W 51 St & 6 Ave,-73.987882,40.762272,-73.980420,40.760660,2015-02-07 23:59:00+00,2015-02-07 23:54:00+00
36154,46189,NaN,NaN,1,1987.0,15929,404,382,456,Subscriber,9 Ave & W 14 St,University Pl & E 14 St,-74.005509,40.740583,-73.992005,40.734927,2015-02-08 00:03:00+00,2015-02-07 23:55:00+00
36155,46190,NaN,NaN,1,1983.0,17541,466,254,327,Subscriber,W 25 St & 6 Ave,W 11 St & 6 Ave,-73.991449,40.743954,-73.998004,40.735324,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
36156,46191,NaN,NaN,2,1983.0,14736,494,116,306,Subscriber,W 26 St & 8 Ave,W 17 St & 8 Ave,-73.997236,40.747348,-74.001497,40.741776,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
36157,46192,NaN,NaN,1,1984.0,16300,432,495,1248,Subscriber,E 7 St & Avenue A,W 47 St & 10 Ave,-73.983799,40.726218,-73.993012,40.762699,2015-02-08 00:17:00+00,2015-02-07 23:56:00+00
36158,46193,NaN,NaN,1,1959.0,16978,325,152,1165,Subscriber,E 19 St & 3 Ave,Warren St & Church St,-73.984738,40.736245,-74.009106,40.714740,2015-02-08 00:15:00+00,2015-02-07 23:56:00+00
36159,46194,NaN,NaN,1,1974.0,16722,295,461,993,Subscriber,Pike St & E Broadway,E 20 St & 2 Ave,-73.992939,40.714067,-73.982050,40.735877,2015-02-08 00:13:00+00,2015-02-07 23:56:00+00
36160,46195,NaN,NaN,2,1960.0,20184,265,455,1422,Subscriber,Stanton St & Chrystie St,1 Ave & E 44 St,-73.991475,40.722293,-73.969053,40.750020,2015-02-08 00:20:00+00,2015-02-07 23:57:00+00
36161,46196,NaN,NaN,1,1953.0,15585,325,470,689,Subscriber,E 19 St & 3 Ave,W 20 St & 8 Ave,-73.984738,40.736245,-74.000040,40.743453,2015-02-08 00:08:00+00,2015-02-07 23:57:00+00
36162,46197,NaN,NaN,2,1986.0,16395,325,474,428,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:04:00+00,2015-02-07 23:57:00+00
36163,46198,NaN,NaN,1,1986.0,15545,325,474,392,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:03:00+00,2015-02-07 23:57:00+00
36164,46199,NaN,NaN,2,1983.0,19540,334,368,548,Subscriber,W 20 St & 7 Ave,Carmine St & 6 Ave,-73.997262,40.742388,-74.002150,40.730386,2015-02-08 00:08:00+00,2015-02-07 23:58:00+00
36165,46200,NaN,NaN,2,1965.0,20998,417,439,917,Subscriber,Barclay St & Church St,E 4 St & 2 Ave,-74.010202,40.712912,-73.989780,40.726281,2015-02-08 00:15:00+00,2015-02-07 23:59:00+00

In [13]:
#Selecting trips started on the weekends，what are average trip duration during weekends? 
test7 ='''
select avg(tripduration) from citibike
where EXTRACT(DOW FROM starttime) not in (1,5)
'''

pd.read_csv(StringIO(queryCartoDB(test7)), sep=',')

          avg  Unnamed: 1
0  675.169634         NaN

In [14]:
#Can we do the same for weekday?
test8 ='''
select * from citibike
where EXTRACT(DOW FROM starttime) in (1,5)
order by starttime
'''

pd.read_csv(StringIO(queryCartoDB(test8)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,6442,NaN,NaN,1,1992.0,20684,489,442,199,Subscriber,10 Ave & W 28 St,W 27 St & 7 Ave,-74.001768,40.750664,-73.993915,40.746647,2015-02-02 00:05:00+00,2015-02-02 00:02:00+00
1,6443,NaN,NaN,2,1964.0,16094,349,326,418,Subscriber,Rivington St & Ridge St,E 11 St & 1 Ave,-73.983299,40.718502,-73.984267,40.729538,2015-02-02 00:10:00+00,2015-02-02 00:03:00+00
2,6444,NaN,NaN,1,1974.0,17362,415,279,276,Subscriber,Pearl St & Hanover Square,Peck Slip & Front St,-74.009260,40.704718,-74.001670,40.707873,2015-02-02 00:09:00+00,2015-02-02 00:04:00+00
3,6445,NaN,NaN,2,1992.0,15475,237,496,420,Subscriber,E 11 St & 2 Ave,E 16 St & 5 Ave,-73.986724,40.730473,-73.992390,40.737262,2015-02-02 00:13:00+00,2015-02-02 00:06:00+00
4,6446,NaN,NaN,1,1968.0,16272,450,477,304,Subscriber,W 49 St & 8 Ave,W 41 St & 8 Ave,-73.987882,40.762272,-73.990026,40.756405,2015-02-02 00:12:00+00,2015-02-02 00:07:00+00
5,6447,NaN,NaN,1,1979.0,16370,391,467,622,Subscriber,Clark St & Henry St,Dean St & 4 Ave,-73.993446,40.697601,-73.978951,40.683125,2015-02-02 00:18:00+00,2015-02-02 00:08:00+00
6,6448,NaN,NaN,1,1963.0,19437,482,434,371,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 00:15:00+00,2015-02-02 00:09:00+00
7,6449,NaN,NaN,1,1982.0,21211,2008,330,477,Subscriber,Little West St & 1 Pl,Reade St & Broadway,-74.016777,40.705693,-74.005628,40.714505,2015-02-02 00:19:00+00,2015-02-02 00:11:00+00
8,6451,NaN,NaN,1,1956.0,15722,453,504,599,Subscriber,W 22 St & 8 Ave,1 Ave & E 15 St,-73.999154,40.744751,-73.981656,40.732219,2015-02-02 00:22:00+00,2015-02-02 00:12:00+00
9,6450,NaN,NaN,2,1978.0,21417,423,521,743,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-02 00:25:00+00,2015-02-02 00:12:00+00
10,6452,NaN,NaN,1,1962.0,18972,236,285,345,Subscriber,St Marks Pl & 2 Ave,Broadway & E 14 St,-73.987140,40.728419,-73.990741,40.734546,2015-02-02 00:18:00+00,2015-02-02 00:12:00+00
11,6453,NaN,NaN,1,1980.0,19628,476,301,721,Subscriber,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-02 00:25:00+00,2015-02-02 00:13:00+00
12,6454,NaN,NaN,1,1978.0,15169,376,279,182,Subscriber,John St & William St,Peck Slip & Front St,-74.007222,40.708621,-74.001670,40.707873,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
13,6455,NaN,NaN,1,1997.0,17533,411,342,154,Subscriber,E 6 St & Avenue D,Columbia St & Rivington St,-73.976687,40.722281,-73.980166,40.717400,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
14,6456,NaN,NaN,1,1983.0,19761,491,470,435,Subscriber,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-02 00:21:00+00,2015-02-02 00:14:00+00
15,6457,NaN,NaN,1,1993.0,17267,393,236,310,Subscriber,E 5 St & Avenue C,St Marks Pl & 2 Ave,-73.979955,40.722992,-73.987140,40.728419,2015-02-02 00:20:00+00,2015-02-02 00:15:00+00
16,6458,NaN,NaN,1,1964.0,18691,470,470,1274,Subscriber,W 20 St & 8 Ave,W 20 St & 8 Ave,-74.000040,40.743453,-74.000040,40.743453,2015-02-02 00:37:00+00,2015-02-02 00:16:00+00
17,6459,NaN,NaN,1,1977.0,17106,174,485,642,Subscriber,E 25 St & 1 Ave,W 37 St & 5 Ave,-73.977387,40.738177,-73.983390,40.750380,2015-02-02 00:29:00+00,2015-02-02 00:18:00+00
18,6460,NaN,NaN,1,1973.0,20009,483,345,256,Subscriber,E 12 St & 3 Ave,W 13 St & 6 Ave,-73.988900,40.732233,-73.997044,40.736494,2015-02-02 00:22:00+00,2015-02-02 00:18:00+00
19,6461,NaN,NaN,1,1979.0,18777,442,489,334,Subscriber,W 27 St & 7 Ave,10 Ave & W 28 St,-73.993915,40.746647,-74.001768,40.750664,2015-02-02 00:25:00+00,2015-02-02 00:19:00+00
20,6462,NaN,NaN,1,1989.0,15357,174,507,90,Subscriber,E 25 St & 1 Ave,E 25 St & 2 Ave,-73.977387,40.738177,-73.979738,40.739126,2015-02-02 00:20:00+00,2015-02-02 00:19:00+00
21,6463,NaN,NaN,1,1983.0,18487,405,380,203,Subscriber,Washington St & Gansevoort St,W 4 St & 7 Ave S,-74.008119,40.739323,-74.002939,40.734011,2015-02-02 00:23:00+00,2015-02-02 00:20:00+00
22,6464,NaN,NaN,1,1981.0,20863,439,334,649,Subscriber,E 4 St & 2 Ave,W 20 St & 7 Ave,-73.989780,40.726281,-73.997262,40.742388,2015-02-02 00:32:00+00,2015-02-02 00:22:00+00
23,6465,NaN,NaN,1,1970.0,16539,448,508,319,Subscriber,W 37 St & 10 Ave,W 46 St & 11 Ave,-73.997901,40.756604,-73.996674,40.763414,2015-02-02 00:29:00+00,2015-02-02 00:23:00+00
24,6466,NaN,NaN,1,1961.0,18737,301,428,154,Subscriber,E 2 St & Avenue B,E 3 St & 1 Ave,-73.983688,40.722174,-73.987834,40.724677,2015-02-02 00:30:00+00,2015-02-02 00:27:00+00
25,6467,NaN,NaN,2,1980.0,17797,195,331,550,Subscriber,Liberty St & Broadway,Pike St & Monroe St,-74.010434,40.709056,-73.991930,40.711731,2015-02-02 00:37:00+00,2015-02-02 00:28:00+00
26,6468,NaN,NaN,1,1990.0,20638,478,529,268,Subscriber,11 Ave & W 41 St,W 42 St & 8 Ave,-73.998842,40.760301,-73.990985,40.757570,2015-02-02 00:34:00+00,2015-02-02 00:29:00+00
27,6469,NaN,NaN,1,1989.0,17636,366,421,153,Subscriber,Clinton Ave & Myrtle Ave,Clermont Ave & Park Ave,-73.968896,40.693261,-73.971297,40.695734,2015-02-02 00:31:00+00,2015-02-02 00:29:00+00
28,6470,NaN,NaN,1,1982.0,18472,494,284,309,Subscriber,W 26 St & 8 Ave,Greenwich Ave & 8 Ave,-73.997236,40.747348,-74.002638,40.739017,2015-02-02 00:36:00+00,2015-02-02 00:31:00+00
29,6471,NaN,NaN,1,1968.0,17456,252,383,138,Subscriber,MacDougal St & Washington Sq,Greenwich Ave & Charles St,-73.998522,40.732264,-74.000271,40.735238,2015-02-02 00:35:00+00,2015-02-02 00:33:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10004,39381,NaN,NaN,1,1957.0,18249,492,465,321,Subscriber,W 33 St & 7 Ave,Broadway & W 41 St,-73.990931,40.750200,-73.986580,40.755136,2015-02-06 23:52:00+00,2015-02-06 23:47:00+00
10005,39382,NaN,NaN,2,1972.0,19146,318,523,449,Subscriber,E 43 St & Vanderbilt Ave,W 38 St & 8 Ave,-73.977987,40.753202,-73.991382,40.754666,2015-02-06 23:55:00+00,2015-02-06 23:48:00+00
10006,39383,NaN,NaN,1,1984.0,15313,434,509,120,Subscriber,9 Ave & W 18 St,9 Ave & W 22 St,-74.003664,40.743174,-74.001971,40.745497,2015-02-06 23:50:00+00,2015-02-06 23:48:00+00
10007,39384,NaN,NaN,1,1979.0,18469,2002,274,977,Subscriber,Wythe Ave & Metropolitan Ave,Lafayette Ave & Fort Greene Pl,-73.963198,40.716887,-73.976682,40.686919,2015-02-07 00:05:00+00,2015-02-06 23:49:00+00
10008,39385,NaN,NaN,1,1966.0,18929,403,402,501,Subscriber,E 2 St & 2 Ave,Broadway & E 22 St,-73.990697,40.725029,-73.989551,40.740343,2015-02-06 23:57:00+00,2015-02-06 23:49:00+00
10009,39386,NaN,NaN,1,1987.0,19009,402,545,441,Subscriber,Broadway & E 22 St,E 23 St & 1 Ave,-73.989551,40.740343,-73.978095,40.736502,2015-02-06 23:58:00+00,2015-02-06 23:50:00+00
10010,39387,NaN,NaN,1,1984.0,17102,438,325,388,Subscriber,St Marks Pl & 1 Ave,E 19 St & 3 Ave,-73.985649,40.727791,-73.984738,40.736245,2015-02-06 23:57:00+00,2015-02-06 23:50:00+00
10011,39388,NaN,NaN,2,1972.0,18686,266,293,607,Subscriber,Avenue D & E 8 St,Lafayette St & E 8 St,-73.975748,40.723684,-73.990765,40.730287,2015-02-07 00:01:00+00,2015-02-06 23:51:00+00
10012,39389,NaN,NaN,1,1989.0,15377,472,402,284,Subscriber,E 32 St & Park Ave,Broadway & E 22 St,-73.981948,40.745712,-73.989551,40.740343,2015-02-06 23:55:00+00,2015-02-06 23:51:00+00
10013,39390,NaN,NaN,1,1984.0,17844,435,383,271,Subscriber,W 21 St & 6 Ave,Greenwich Ave & Charles St,-73.994156,40.741740,-74.000271,40.735238,2015-02-06 23:56:00+00,2015-02-06 23:51:00+00
10014,39391,NaN,NaN,1,1987.0,21040,438,361,572,Subscriber,St Marks Pl & 1 Ave,Allen St & Hester St,-73.985649,40.727791,-73.991908,40.716059,2015-02-07 00:01:00+00,2015-02-06 23:52:00+00
10015,39394,NaN,NaN,1,1983.0,16934,435,496,267,Subscriber,W 21 St & 6 Ave,E 16 St & 5 Ave,-73.994156,40.741740,-73.992390,40.737262,2015-02-06 23:58:00+00,2015-02-06 23:53:00+00
10016,39392,NaN,NaN,1,1981.0,19480,380,503,498,Subscriber,W 4 St & 7 Ave S,E 20 St & Park Ave,-74.002939,40.734011,-73.987520,40.738274,2015-02-07 00:01:00+00,2015-02-06 23:53:00+00
10017,39393,NaN,NaN,1,1978.0,21130,258,324,425,Subscriber,DeKalb Ave & Vanderbilt Ave,DeKalb Ave & Hudson Ave,-73.968855,40.689407,-73.981013,40.689888,2015-02-07 00:00:00+00,2015-02-06 23:53:00+00
10018,39395,NaN,NaN,1,1968.0,20745,318,484,165,Subscriber,E 43 St & Vanderbilt Ave,W 44 St & 5 Ave,-73.977987,40.753202,-73.980144,40.755003,2015-02-06 23:56:00+00,2015-02-06 23:53:00+00
10019,39399,NaN,NaN,1,1959.0,17370,486,497,489,Subscriber,Broadway & W 29 St,E 17 St & Broadway,-73.988557,40.746201,-73.990093,40.737050,2015-02-07 00:02:00+00,2015-02-06 23:54:00+00
10020,39397,NaN,NaN,1,1980.0,21259,476,301,747,Subscriber,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-07 00:07:00+00,2015-02-06 23:54:00+00
10021,39396,NaN,NaN,1,1969.0,16811,507,464,751,Subscriber,E 25 St & 2 Ave,E 56 St & 3 Ave,-73.979738,40.739126,-73.967597,40.759345,2015-02-07 00:06:00+00,2015-02-06 23:54:00+00
10022,39398,NaN,NaN,1,1993.0,15618,375,439,511,Subscriber,Mercer St & Bleecker St,E 4 St & 2 Ave,-73.996951,40.726795,-73.989780,40.726281,2015-02-07 00:03:00+00,2015-02-06 23:54:00+00
10023,39402,NaN,NaN,1,1990.0,20360,453,254,377,Subscriber,W 22 St & 8 Ave,W 11 St & 6 Ave,-73.999154,40.744751,-73.998004,40.735324,2015-02-07 00:01:00+00,2015-02-06 23:55:00+00
10024,39400,NaN,NaN,1,1984.0,19430,295,504,1183,Subscriber,Pike St & E Broadway,1 Ave & E 15 St,-73.992939,40.714067,-73.981656,40.732219,2015-02-07 00:14:00+00,2015-02-06 23:55:00+00
10025,39401,NaN,NaN,1,1986.0,18303,512,510,649,Subscriber,W 29 St & 9 Ave,W 51 St & 6 Ave,-73.998393,40.750073,-73.980420,40.760660,2015-02-07 00:06:00+00,2015-02-06 23:55:00+00
10026,39403,NaN,NaN,1,1983.0,21564,491,470,485,Subscriber,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-07 00:04:00+00,2015-02-06 23:56:00+00
10027,39404,NaN,NaN,1,1983.0,21575,368,482,298,Subscriber,Carmine St & 6 Ave,W 15 St & 7 Ave,-74.002150,40.730386,-73.999318,40.739355,2015-02-07 00:01:00+00,2015-02-06 23:56:00+00
10028,39405,NaN,NaN,1,1983.0,21014,346,461,648,Subscriber,Bank St & Hudson St,E 20 St & 2 Ave,-74.006180,40.736529,-73.982050,40.735877,2015-02-07 00:07:00+00,2015-02-06 23:57:00+00
10029,39407,NaN,NaN,1,1984.0,16975,270,324,331,Subscriber,Adelphi St & Myrtle Ave,DeKalb Ave & Hudson Ave,-73.971789,40.693083,-73.981013,40.689888,2015-02-07 00:04:00+00,2015-02-06 23:58:00+00
10030,39406,NaN,NaN,2,1989.0,17797,450,252,1261,Subscriber,W 49 St & 8 Ave,MacDougal St & Washington Sq,-73.987882,40.762272,-73.998522,40.732264,2015-02-07 00:19:00+00,2015-02-06 23:58:00+00
10031,39409,NaN,NaN,1,1966.0,19487,502,263,492,Subscriber,Henry St & Grand St,Elizabeth St & Hester St,-73.981346,40.714215,-73.996375,40.717290,2015-02-07 00:07:00+00,2015-02-06 23:59:00+00
10032,39410,NaN,NaN,1,1987.0,15426,301,401,329,Subscriber,E 2 St & Avenue B,Allen St & Rivington St,-73.983688,40.722174,-73.989978,40.720196,2015-02-07 00:04:00+00,2015-02-06 23:59:00+00
10033,39408,NaN,NaN,1,1982.0,19820,236,345,629,Subscriber,St Marks Pl & 2 Ave,W 13 St & 6 Ave,-73.987140,40.728419,-73.997044,40.736494,2015-02-07 00:10:00+00,2015-02-06 23:59:00+00

In [15]:
test9 ='''
select avg(tripduration) from citibike
where EXTRACT(DOW FROM starttime)  in (1,5)
'''

pd.read_csv(StringIO(queryCartoDB(test9)), sep=',')

          avg  Unnamed: 1
0  678.375125         NaN

## Task 3 — Working with Space

In [16]:
# Showing the list of start station locations - Using GROUP BY 
#Showing the number of trips started per station 
# but only for stations within 500m of Time Square! 
#The coordinates of Time Square is (40.7577,-73.9857)

test10 = '''
SELECT CDB_TransformToWebmercator(
                CDB_LatLng(start_station_latitude,
                           start_station_longitude)
       ) as the_geom_webmercator,
       CDB_LatLng(start_station_latitude,
                  start_station_longitude)
       as LATLON,
       MIN(cartodb_id) as cartodb_id, 
       COUNT(tripduration) as numtrips
FROM citibike
WHERE ST_DWithin(
        CDB_LatLng(start_station_latitude,
                   start_station_longitude)::geography,
        CDB_LatLng(40.7577,-73.9857)::geography,
      500)
group by start_station_latitude, start_station_longitude
'''

pd.read_csv(StringIO(queryCartoDB(test10)), sep=',')

,the_geom_webmercator,latlon,cartodb_id,numtrips
0,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,0101000020E610000046E82D3FEC7E52C08A99B7C9AC60...,1115,112
1,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,0101000020E6100000BE51C821247F52C021994848A860...,54,251
2,0101000020110F00001607D538556B5FC119A6CA6F41FC...,0101000020E6100000F1D84B2A457F52C03BF891743061...,124,141
3,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,0101000020E61000005A9EA44C6C7F52C08D77EC0CF860...,783,221
4,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,0101000020E6100000B9CBD9965C7F52C0BE8E0FE5D160...,33,507
5,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,0101000020E6100000385762D8007F52C0BF6DBFDF5C61...,42,213
6,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,0101000020E6100000860DC305E87E52C0058E5FD3DE60...,19,141

## Task 4

In [17]:
#Find the station that had the longest average trip duration during 
#weekends and within 500m of TimeSquare! 

test11 = '''
SELECT start_station_id,CDB_TransformToWebmercator(CDB_LatLng(start_station_latitude,start_station_longitude))
       as the_geom_webmercator,
       MIN(cartodb_id) as cartodb_id, 
       avg(tripduration) as avg_duration
FROM citibike
WHERE ST_DWithin(
      CDB_LatLng(start_station_latitude,
                 start_station_longitude)::geography,
      CDB_LatLng(40.7577,-73.9857)::geography,
      500)
      AND extract(DOW from starttime) not in (1,5)
group by start_station_latitude, start_station_longitude, start_station_id
order by avg_duration desc
''' 

pd.read_csv(StringIO(queryCartoDB(test11)), sep=',')

,start_station_id,the_geom_webmercator,cartodb_id,avg_duration
0,2021,0101000020110F00001607D538556B5FC119A6CA6F41FC...,124,739.350427
1,529,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,783,673.769231
2,173,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,658.611842
3,477,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,33,656.032787
4,465,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,54,650.794737
5,524,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,1115,620.395062
6,493,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,19,581.557692

## Extra

In [18]:
# create lines for trips started from stations within 500m of Times
# Squares and lasted less than 2 hours. The number of trips per each
# pair of stations are output as attributes of these lines. 

test12 = '''
SELECT ST_Makeline(CDB_TransformToWebmercator(CDB_LatLng(start_station_latitude,start_station_longitude)),
                   CDB_TransformToWebmercator(CDB_LatLng(end_station_latitude,end_station_longitude)))
       as the_geom_webmercator,
       MIN(cartodb_id) as cartodb_id, 
       COUNT(tripduration) as numtrips
FROM citibike
WHERE ST_DWithin(
        CDB_LatLng(start_station_latitude,
                   start_station_longitude)::geography,
        CDB_LatLng(40.7577,-73.9857)::geography,
      500)
      AND tripduration<7200
group by start_station_latitude, start_station_longitude, end_station_latitude, end_station_longitude
'''

pd.read_csv(StringIO(queryCartoDB(test12)), sep=',')

                                  the_geom_webmercator  cartodb_id  numtrips
0    0102000020110F000002000000F22A632FBE6A5FC1363A...       12043         1
1    0102000020110F0000020000009BB87D02B76A5FC146C1...       34407         1
2    0102000020110F00000200000004AF971C1D6B5FC17A48...       30188         1
3    0102000020110F0000020000003F9300B2976B5FC1B8B8...        7566         5
4    0102000020110F00000200000020D6742CE16A5FC112F4...        8850         4
5    0102000020110F0000020000003F9300B2976B5FC1B8B8...       31004         1
6    0102000020110F00000200000020D6742CE16A5FC112F4...        4636         2
7    0102000020110F000002000000F55695027D6B5FC186E5...        6788         6
8    0102000020110F000002000000F22A632FBE6A5FC1363A...       20181         2
9    0102000020110F0000020000001607D538556B5FC119A6...       26631         1
10   0102000020110F000002000000F22A632FBE6A5FC1363A...       36993         1
11   0102000020110F000002000000F55695027D6B5FC186E5...       11242         1
12   0102000020110F0000020000003F9300B2976B5FC1B8B8...       22083         3
13   0102000020110F0000020000003F9300B2976B5FC1B8B8...       13700         2
14   0102000020110F000002000000F55695027D6B5FC186E5...        8798         1
15   0102000020110F0000020000003F9300B2976B5FC1B8B8...       14842         1
16   0102000020110F00000200000004AF971C1D6B5FC17A48...       38207         2
17   0102000020110F0000020000009BB87D02B76A5FC146C1...       14181         2
18   0102000020110F0000020000001607D538556B5FC119A6...       19813         1
19   0102000020110F000002000000F55695027D6B5FC186E5...       36988         1
20   0102000020110F0000020000001607D538556B5FC119A6...       43818         1
21   0102000020110F000002000000F55695027D6B5FC186E5...         876         3
22   0102000020110F000002000000F55695027D6B5FC186E5...       15276         2
23   0102000020110F0000020000009BB87D02B76A5FC146C1...       18472         2
24   0102000020110F000002000000F22A632FBE6A5FC1363A...        1115         2
25   0102000020110F0000020000009BB87D02B76A5FC146C1...       14749         3
26   0102000020110F000002000000F55695027D6B5FC186E5...       26955         2
27   0102000020110F00000200000020D6742CE16A5FC112F4...       21504         1
28   0102000020110F00000200000004AF971C1D6B5FC17A48...       21258         2
29   0102000020110F00000200000020D6742CE16A5FC112F4...       45898         1
..                                                 ...         ...       ...
542  0102000020110F0000020000001607D538556B5FC119A6...       15912         3
543  0102000020110F00000200000020D6742CE16A5FC112F4...        9169         7
544  0102000020110F000002000000F55695027D6B5FC186E5...        6319        13
545  0102000020110F00000200000020D6742CE16A5FC112F4...         570         7
546  0102000020110F0000020000009BB87D02B76A5FC146C1...       13614         3
547  0102000020110F0000020000009BB87D02B76A5FC146C1...       20724         1
548  0102000020110F000002000000F55695027D6B5FC186E5...       12873         3
549  0102000020110F000002000000F55695027D6B5FC186E5...       13148         5
550  0102000020110F00000200000020D6742CE16A5FC112F4...       29300         2
551  0102000020110F00000200000004AF971C1D6B5FC17A48...       19451         5
552  0102000020110F000002000000F22A632FBE6A5FC1363A...       37508         1
553  0102000020110F0000020000003F9300B2976B5FC1B8B8...       12273         1
554  0102000020110F00000200000004AF971C1D6B5FC17A48...       11481         2
555  0102000020110F00000200000004AF971C1D6B5FC17A48...       11191         1
556  0102000020110F000002000000F22A632FBE6A5FC1363A...       11880         2
557  0102000020110F00000200000004AF971C1D6B5FC17A48...        1080         7
558  0102000020110F00000200000004AF971C1D6B5FC17A48...       12908         2
559  0102000020110F000002000000F55695027D6B5FC186E5...       31209         1
560  0102000020110F000002000000F55695027D6B5FC186E5...         285         4
561  0102000020110F0000020000003F9300B2976B5FC1B8B8...        6728         4
562  0102000020110F0000020000003F9300B2976B5FC1B8B8...        9859         3
563  0102000020110F0000020000009BB87D02B76A5FC146C1...       22366         2
564  0102000020110F000002000000F55695027D6B5FC186E5...       43644         1
565  0102000020110F000002000000F22A632FBE6A5FC1363A...       35497         2
566  0102000020110F00000200000004AF971C1D6B5FC17A48...       22653         1
567  0102000020110F0000020000009BB87D02B76A5FC146C1...       17589         1
568  0102000020110F000002000000F55695027D6B5FC186E5...        6472         5
569  0102000020110F0000020000001607D538556B5FC119A6...       15383         2
570  0102000020110F0000020000001607D538556B5FC119A6...       13612         3
571  0102000020110F00000200000020D6742CE16A5FC112F4...       13311         9

[572 rows x 3 columns]

# extra credit: make the function python 2 and 3 compatible so that it works on the  PUI2016_Python3 kernel